#loginform label{display:block;}
#loginform div input {border-radius: 5px;padding: 8px;width: 100%;}
#loginform div.input{margin-bottom: 10px;}
.new_company div p{position: relative;}
.new_company div p span.errmsg{color:red; position: absolute; bottom: 15px; right: 30px;}
.new_company div p span.successmsg{color: green;position: absolute; bottom: 15px; right: 30px;}

div.message {
    background-color: #a0d3e8;
    color: #626262;
    cursor: pointer;
    display: block;
    font-weight: normal;
    height: 50px;
    line-height: 2.5em;
    overflow: hidden;
    padding: 0 1.5rem;
    position: fixed;
    right: 15px;
    top: 15px;
    transition: height 300ms ease-out 0s;
    z-index: 999;
}
div.message::before {
    background-color: #fff;
    border-radius: 15px;
    color: #a0d3e8;
    content: "i";
    display: inline-block;
    font-size: 20px;
    height: 12px;
    left: -11px;
    line-height: 0;
    padding: 12px 14px 12px 10px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 12px;
}
div.message.error {
    background-color: #c3232d;
    color: #fff;
}
div.message.error::before {
    color: #c3232d;
    content: "x";
    padding: 11px 16px 14px 7px;
}
div.message.hidden {
    height: 0;
}
.table-responsive{background: #eee none repeat scroll 0 0;}
.table-responsive thead{background: #00afaf none repeat scroll 0 0; color: #fff;}
.draggable_text input{display: none;}
.draggable_text.active abbr{display: none;}
.draggable_text.active input{display: inline-block;}
.register_section.book_customization{width: 90%;}
.book_customization .book_page{text-align: center;}
.book_customization .book_page .page_name{display: inline-block; width: 100%;}
.book_customization .book_page.col-lg-2{width: 12%;}
.book_customization .page_list{border-bottom: 2p solid #000; margin-bottom: 20px;}
.book_customization .book_customization_container{height: 300px;}
.book_customization .book_page.selected{border:2px solid blue;}
.book_page .img-preview{width: 250px; height: 250px; overflow: hidden; text-align: center; margin:0 auto; margin-bottom: 20px;}
.book_page .img-preview img{width: 100%; height: auto; max-height: 65%;}
.book_page .page-btn.live-page img{position: absolute; top: 27px; left: 0;width:92%;}
.book_page .page-btn.live-page.social_wall_page img{top: 0;transform:scale(1.1);}
.book_page header .header-bottom .live-page .live-page-id.trash_icon{left: -9px}
.book_page .sub_product_page{text-align: center;}
.book_page .sub_product_page .page-btn { background: #333333 none repeat scroll 0 0; border: 1px dashed #3d3d3d; border-radius: 10px; display: block; float: none; margin: 5px 10px; min-height: 90px; min-width: 50px; position: relative; text-align: center; max-width: 65px; padding: 5px 5px; text-decoration:none; margin:15px auto;}
.book_page .sub_product_page .page-btn:hover{ border-color:#5b8f00;  }
.book_page .sub_product_page .create-page{ border-color:#5b8f00; color:#5b8f00; font-size:10px; text-transform:uppercase; padding:20px 5px; }
.book_page .sub_product_page .live-page{ position:relative; }
.book_page .sub_product_page .live-page .live-page-id {z-index: 10; background: #2a2a2a none repeat scroll 0 0; border: 1px solid #2f2f2f; border-radius: 20px; box-shadow: 0 0 2px #000; color: #ffb300; font-size: 11px; height: 20px; position: absolute; right: -9px; top: -10px; width: 20px;}
.book_page .sub_product_page .live-page .live-page-caption { background: #1d1d1d none repeat scroll 0 0; border-radius: 0 0 10px 10px; bottom: 0; color: #00c6ff; font-size: 10px; left: 0; padding: 5px; position: absolute; text-transform: uppercase; width: 100%;}
.book_page .sub_product_page .live-page.active{ border-color:#0064a3; }
.book_page .sub_product_page .live-page .live-page-id.trash_icon{left: -9px}
.book_page header .header-bottom .live-page .live-page-id.remove_icon{opacity: 0; transition: all 1s ease; margin: auto; left: 0; right: 0; z-index: 10;}
.book_page header .header-bottom .live-page:hover > .live-page-id.remove_icon{opacity: 1;}
.book_page .sub_product_page .live-page .live-page-id.remove_icon{opacity: 0; transition: all 1s ease; margin: auto; left: 0; right: 0; z-index: 10;}
.book_page .sub_product_page .live-page:hover > .live-page-id.remove_icon{opacity: 1;}

.new_theme .template_list .template_single.selected{border: 2px solid #159BD5;}
.new_theme .template_list .template_single .fa-check{ display: none;}
.new_theme .template_list .template_single.selected .fa-check{display: inline-block; background: #159BD5; position: absolute; top: 0; right: 0; color: #fff; font-size: 18px; padding: 5px;}
.new_theme .template_preview{width: 50%; margin: 0 auto; text-align: center;}
.new_theme .template_preview img{margin: 10px 0;}
.new_theme .template_preview_list{display: inline-block; width: 50%;}
.book_page .img-preview .attribute_link{width: 95%; text-align: left;padding: 8px 5px;}
.book_page .img-preview .attribute_image_link{margin-top:15px;}

.themes_list .theme_single{color: #fff; text-align: center;}
.tools-box .tools-box-content{position: relative;}
.tools-box .tools-box-content .tools-bottom-menu{width: 100%; position: absolute;}
.tools-box .tools-box-content .tools-bottom-menu li{display: inline-block;}
.book_page .content .tools-box .tools-box-content .tools-box-content-left ul li.pull-left a{color: green;}
.book_page .content .tools-box .tools-box-content .tools-box-content-left ul li.pull-right a{color: red;}
.book_page .template_video_attributes li iframe, .book-preview iframe{pointer-events: none;}
#imageLibraryModal .modal-dialog{width: 80%;}
#imageLibraryModal .modal-dialog .image_library_list li{width: 18%; height: 200px; overflow: hidden; margin: 5px; display: inline-block;}
#imageLibraryModal .modal-dialog .image_library_list li img{width: 100%; height: auto; }
#imageLibraryModal .modal-dialog .modal-body{max-height: 450px; overflow: auto;}
#imageLibraryModal .modal-dialog .image_library_list li.selected{border: 2px solid #286090;}
.preloader{bottom: 0; left: 0;outline: 0 none;overflow: hidden;position: fixed;right: 0;top: 0;z-index: 1050; background: #000; width: 100%; height: 100%;}
.preloader_image{position: absolute; width: 128px; top: 0px; right: 0px; left: 0px; bottom: 0px; margin: auto; height: 156px; z-index: 10000;}
.preloader_light{opacity:0.5;}
.dashboard .theme_preview{background: none;}
.dashboard .product_list_slider{position: relative;}
.dashboard .carousel-control{position: absolute; margin: auto; width: 30px; height: 30px; color:#2d2d2d;}
.dashboard .carousel-control .fa{font-size: 34px;}
.dashboard .theme_preview{padding: 0; position: relative;}
.dashboard #myCarousel .theme_preview .theme_list{min-height: 200px;min-width: 150px; margin: 10px 16px;}
.dashboard .theme_preview .theme_list{min-height: 210px;min-width: 160px; margin: 10px 14px;}
.dashboard #myCarousel .theme_preview .hover_selecton{top: 30px;}
.dashboard .theme_preview .hover_selecton{top: 50px;}
.dashboard .analytics_section .my_app .col-lg-6{padding-left: 0;}
/*.book_page .tools-box-content-stage-bottom.text_list ul li.btn{padding: 5px;}
.book_page .tools-box-content-stage-bottom.image_list ul li {width: 100px; height: 100px; margin: 2px; display: inline-block;overflow: hidden; border: 2px solid #286090;}
.book_page .tools-box-content-stage-bottom.image_list ul li img{width: 100%; height: auto;}*/
.book_page .tools-box-content-stage .library_list{background: #1c1c1c; padding: 10px 5px;  position: relative; margin-bottom: 15px;}
.book_page .tools-box-content-stage .library_list h3{text-transform: uppercase; font-size: 16px; margin: 0;}
.book_page .tools-box-content-stage .library_list li img{width: 22px; height: auto;}
.book_page .tools-box-content-stage .library_list li a{display: inline-block; padding: 0 20px;}
.book_page .content .tools-box .tools-box-content{background: none; border:none; overflow: hidden; box-shadow: none;}
.book_page .tools-box-content > .row > .col-sm-4{padding-right: 0; padding-left: 0; min-height: 350px; background: #393939;}
.book_page .tools-box-content > .row > .col-sm-8{padding-left: 0; background: #525252; }
.book_page .tools-box .tools-box-content .tools-box-content-stage .library_list .tools-bottom-menu{position: absolute; width: auto; top: 8px; right: 10px; }
.book_page .tools-box .tools-box-content .tools-box-content-stage .library_list .tools-bottom-menu .fa-plus{color: #84d000;}
.book_page .tools-box-content-stage-bottom ul li{display: inline-block; width: 100px; height: 80px; background: #fff; margin: 5px; overflow: hidden;border: 1px solid #1c1c1c; position: relative;}
.book_page .tools-box-content-stage-bottom ul li img{width: 65px; height: auto; max-height: 100%;position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0; opacity: 0.5;}
.book_page .tools-box-content-stage-bottom ul li i.fa-youtube-play{text-align:center; width: 45px; height: 45px; font-size:45px; color:red; position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0; opacity: 0.5;}
.book_page .tools-box .tools-box-content .img-preview{height: 290px; width: 90%;}
.book_page .tools-box .tools-box-content .img-preview textarea{width: 100%; height: 50%; margin-top: 22px;}
.book_page .content .tools-box .tools-box-content .tools-box-content-left ul li {padding-left: 10px; letter-spacing: 1px;}
.book_page .tools-box-content-stage-bottom ul li:hover, .book_page .tools-box-content-stage-bottom ul li.active{border:3px solid #84d000;}
.book_page .tools-box-content-stage-bottom{padding: 10px;}
.book_page .tools-box-content-stage-bottom.text_list ul li{width: 100%; height: auto; text-align: left;}
.book_page .tools-box-content-stage-bottom.text_list ul li .delete_attributes img{}
.book_page .sub_product_indication{position: absolute; right: -4px; top: 0; bottom: 0; margin: auto;}
.book_page .sub_product_indication li{display: block; width: 7px; height: 13px; background: #ffb300; margin: 5px 0; text-indent: -9999px; border-radius: 3px;}
.book_page .tools-box-content-stage-bottom ul li .delete_attributes{display: none; cursor: pointer;}
.book_page .tools-box-content-stage-bottom ul li:hover > .delete_attributes{display: inline-block;}
.book_page .tools-box-content-stage-bottom ul li .delete_attributes img{opacity: 1; left: inherit; width: 30px; right: 5px; top: 5px; bottom: inherit; padding: 1px; border-radius: 5px; background: #fff; border:2px solid red;}
.book_page .tools-box-content-stage.background_attribute .library_list{padding: 4px; text-align: center;margin: 0;}
.book_page .tools-box-content-stage.background_attribute .library_list h3{padding: 5px 8px; letter-spacing: 2px; font-size: 14px;}
.book_page .tools-box-content-stage.background_attribute .img-preview{height: 311px; width: 100%; margin: 0;}
.book_page .book_full_width_preview{padding: 50px 15px}
.book_page .book_full_width_preview h4{text-align: center; color: #555; }
.book_page .book_full_width_preview .book_preview_container{box-shadow: 0px 0px 5px 5px #161616;}
.book_page .tool_box_container, .book_page .tool_box_container .panel-bg{background: #1a1a1a;}
.book_page .tool_box_container{min-height: 680px; }
.book_page header .header-bottom{margin-bottom: 0;}
.book_page header .header-top .form-control.book_title{border: 1px solid #d9d9d9; background: #f3f3f3;}
.book_page .colorpicker_container{position: relative;}
.book_page .colorpicker_container img{position: absolute; top: 2px; right: 35px; width: 35px;cursor:pointer;}
.book_page .tools-box-content-stage p{color: #fff;}
.image_attribute_container{position: relative;}
.image_attribute_container .fa-pencil{background: #2a2a2a;border: 1px solid #000;border-radius: 20px;box-shadow: 0 0 2px #000;color: #ffb300;padding: 8px;position: absolute;right: 20px;top: 45px;cursor: pointer; }
.book_page .align-icon li a.active i, .book_page .bold_icon.active i{color:#ffb300;}
.preview_templates{position: absolute;top: 0;left: 0;width: 100%; height: 100%; display: inline-block;overflow: hidden;border-radius: 10px;}
.preview_templates img{transform: scale(1.7);}
.sk-folding-cube {
  margin: 20px auto;
  width: 90px;
  height: 90px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #feb300;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
.undoredobox{margin-top:15px;}
.preview_attributes.active{border:2px dashed #9e9e9e;}
.book_page .fixed_header.ready_state{position: fixed; z-index: 9999;width: 100%;}
.book_page .modal{z-index: 9999999;}
/*Social Wall add new post*/
.dashboard .post_new_social_walls_container.view_all, .socialWalls .post_new_social_walls_container{background: #1D3468; height: auto; border-radius: 15px;}
.dashboard .post_new_social_walls, .socialWalls .post_new_social_walls{color:#fff; position: relative; padding: 5px 10px;}
.dashboard .post_new_social_walls h3, .socialWalls .post_new_social_walls h3{margin: 0; padding: 10px 0; font-size: 16px; font-weight: bold;}
.dashboard .post_new_social_walls h3 .socialwall_link, .socialWalls .post_new_social_walls h3 .socialwall_link{color: #fff; border: 2px solid #fff; font-weight: normal; font-size: 14px; padding: 5px 15px; position: absolute; top: 6px; right: 10px; border-radius: 10px;}
.dashboard .post_new_social_walls h3 .socialwall_link:hover, .socialWalls .post_new_social_walls h3 .socialwall_link:hover{text-decoration: none;}
.dashboard .post_new_social_walls .social_message_box .pull-left .btn, .socialWalls .post_new_social_walls .social_message_box .pull-left .btn{padding: 5px 10px; background: #75A900; vertical-align: top;}
.dashboard .post_new_social_walls .social_message_box .pull-left select, .socialWalls .post_new_social_walls .social_message_box .pull-left select{border: none; padding: 5px 10px; background: #00A897; border-radius: 5px;}
.dashboard .post_new_social_walls .social_message_box .pull-right .btn, .socialWalls .post_new_social_walls .social_message_box .pull-right .btn{font-size: 16px; font-weight: bold; margin-top: -3px; padding: 5px 25px;}
.dashboard .post_new_social_walls .social_message_box .sw_inputs input, .socialWalls .post_new_social_walls .social_message_box .sw_inputs input{margin-bottom: 0; border-radius: 10px 10px 0 0;}
.dashboard .post_new_social_walls .social_message_box .sw_inputs textarea, .socialWalls .post_new_social_walls .social_message_box .sw_inputs textarea{border-radius: 0 0 10px 10px;min-height:150px; }
/*Social Wall List page*/
.socialWalls .book_list{margin:10px 0;}
.socialWalls .book_list button{border: 1px solid #8B8B8B; border-radius: 10px; padding: 0 10px; margin:5px;}
.socialWalls .book_list button.active{background: #2F2F2F; color: #fff;}
.socialWalls .sw_posts .sw_posts_list{margin-bottom: 20px;}
.socialWalls .sw_posts .sw_posts_list .sw_container{background: #fff; padding: 5px; border-radius: 5px;}
.socialWalls .sw_posts .sw_posts_list .sw_container_contents{background: #F4F4F4;border-radius: 5px;padding: 5px;}
.socialWalls .sw_posts .sw_posts_list .sw_container_actions{margin-top:5px;}
.socialWalls .sw_posts .sw_posts_list .sw_container_actions .btn{padding: 2px 25px; color: #fff;}
.socialWalls .sw_posts .sw_posts_list .sw_container_actions .btn.btn_primary{background: #FE3664;}
.socialWalls .sw_posts .sw_posts_list .sw_container_actions .btn.btn_use{background: #65A600;}
.socialWalls .sw_posts .sw_posts_list .sw_container_actions .btn.btn_delete{background: #FF503D;}
.socialWalls .sw_posts .sw_posts_list .sw_container_actions span{font-size: 10px;}
.socialWalls .sw_posts .sw_posts_list .sw_container_contents .sw_image{width: 90px; height: 90px; background: #E1E1E1; position: relative;}
.socialWalls .sw_posts .sw_posts_list .sw_container_contents .sw_image img{position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto;}
.socialWalls .sw_posts .sw_posts_list .sw_container_contents h4{font-size: 16px; margin-bottom: 0;}
.socialWalls .sw_posts .sw_posts_list .sw_container_contents p{font-size: 12px;}
.socialWalls .add_new_sw { border:2px solid #81D400; font-size: 14px; padding: 0 10px; border-radius: 10px; cursor: pointer;}
.socialWalls .post_new_social_walls_container{margin-top: 20px;}
/*Workarea Tool bar*/
.book_page .tool_box_container .progress{overflow: inherit; background: none;}
.book_page .tool_box_container .progress #wslider{background: #424554;}
.book_page .tool_box_container .progress #wslider a{background: #EAB100; border-radius: 50%;}
.fa.sel{color: #EAB100}
.fa.fa-pencil.dock_open{color: #7BAC14}
.book_page .social_wall_page{opacity: 0.3; pointer-events:none;}
.book_page .social_wall_page.social_wall_page_selected{ opacity: 1;pointer-events:auto;}
.book_page .floating_dock_input {color:#888888; background: #1c1c1c;border-radius: 5px;left: 120%;padding: 35px 10px;position: absolute;top: 0;width: 350px;z-index: 10;}
.book_page .floating_dock_input button{background: #5B8F00; border:none; padding: 2px 20px; color: #fff; border-radius: 5px; font-size: 15px; }
.book_page .floating_dock_input .fa-times-circle-o{color: #de3964;font-size: 16px;position: absolute;right: 5px;top: 5px;}
.book_page .floating_dock_input.theme_color_floating{text-align: center; width: 300px;padding: 15px 10px;}
.book_page .colors{border-radius: 5px;}
.book_page .theme_colors .colors{margin:12px; }
.book_page .theme_colors .colors.active_color{border:1px dashed #ccc;}
.book_page .floating_dock_input.theme_color_floating .color_input_box{margin: 10px 0;}
.book_page .floating_dock_input.theme_color_floating .color_input_box input{background: #000 none repeat scroll 0 0;border: 1px solid black;color: #888888;width: 80px;}

/*Page Items New design integration on 8-4-2016 by vino*/
.book_page .content .tools-box .tools-box-content.tools-box-content-new{background: #fff}
.book_page .tools-box-content.tools-box-content-new > .row > .col-sm-8{background: none; padding: 0;}
.book_page .tools-box-content.tools-box-content-new .tools {box-shadow: 2px 3px 2px 0 #ededed;height: 50px;margin-left: 0;margin-right: 3px;}
.book_page .tools-box-content.tools-box-content-new .add-btn {border: 2px solid #74b700;border-radius: 20px;color: #74b700;float: right;font-size: 13px;padding: 5px 16px;text-transform: uppercase;}
.book_page .tools-box-content.tools-box-content-new .fa-plus {font-size: 12px;padding-right: 5px;}
.book_page .tools-box-content.tools-box-content-new .button-part{text-align: center;}
.book_page .tools-box-content.tools-box-content-new .button-part ul {padding: 0;}
.book_page .tools-box-content.tools-box-content-new .button-part ul li {display: inline-block;list-style-type: none;padding: 6px;}
.book_page .tools-box-content.tools-box-content-new .button-part ul li img {max-width: 100px;}
.book_page .tools-box-content.tools-box-content-new .gally {border: 2px solid #74b600;border-radius: 5px;}
.book_page .tools-box-content.tools-box-content-new .button-images {
    position: relative;
}
.book_page .tools-box-content.tools-box-content-new .gally1 {
    border: 2px solid #96dffa;
    border-radius: 5px;
}
.book_page .tools-box-content.tools-box-content-new .img-icon {
    left: 23px;
    position: absolute;
    top: 10px;
}
.book_page .tools-box-content.tools-box-content-new .edit .fa-pencil {
    background: #121212 none repeat scroll 0 0;
    color: #89e52e;
}
.book_page .tools-box-content.tools-box-content-new .del .fa-trash {
    background: #121212 none repeat scroll 0 0;
    border-radius: 30px;
    color: #9e1226;
    font-size: 13px;
    height: 26px;
    padding: 7px;
    width: 26px;
}
.book_page .tools-box-content.tools-box-content-new .gally2 {
    border: 2px solid #d5d5d5;
    border-radius: 5px;
    /*box-shadow: 0 0 2px 0 #888;*/
}
.book_page .tools-box-content.tools-box-content-new .qst-left{position: absolute; float: none;margin:0; right: 105%; top: 30%}
.book_page .tools-box-content.tools-box-content-new .tools-box-content-left .tools-menu > li{position: relative;}
.book_page .tools-box-content.tools-box-content-new > .row{margin:0;}
.book_page .tool_box_container .disabled_button{opacity: 0.5; pointer-events: none;}
.preview_attributes{position: relative;}
.preview_attributes.active .fa-plus, .preview_attributes.active .fa-minus{display: inline-block; background: #2a2a2a none repeat scroll 0 0; border:1px solid #2f2f2f; border-radius: 20px;color: #ffb300; font-size: 12px; width: 15px; height: 15px; padding: 1px; text-align: center;cursor: pointer;}
.preview_attributes .fa-plus{position: absolute; right: -6px; top: -8px; display: none;}
.preview_attributes .fa-minus{position: absolute; left: -6px; top: -8px; display: none;}
.book_page .content .tools-box .tools-box-content.tools-box-content-new .tools-box-content-left ul li{padding-left: 0;}
.book_page .content .tools-box .tools-box-content.tools-box-content-new .tools-box-content-left ul{background: none;}
.cp{cursor: pointer;}
.book_page .content .tools-box .tools-box-content.tools-box-content-new .side-menu{text-transform: capitalize;}
.book_page header .fixed_header .header-top{box-shadow: none;}
.book_page .content .tools-box .tools-box-content.tools-box-content-new .tools-menu > li:first-child .fa.fa-angle-up{opacity: 0;}
.book_page .content .tools-box .tools-box-content.tools-box-content-new .tools-menu > li:last-child .fa.fa-angle-down{opacity: 0;}
.book_page .content .tools-box .tools-box-content.tools-box-content-new .tools-box-content-stage-bottom.image_list{padding: 0;}
.book_page .content .tools-box .tools-box-content.tools-box-content-new .tools-box-content-stage-bottom.image_list > ul{margin:0; padding: 0 10px; text-align: left;}
.book_page .content .tools-box .tools-box-content.tools-box-content-new .tools-box-content-stage-bottom.image_list > ul > li{height: 95px; width: 105px;}
.book_page .content .tools-box .tools-box-content.tools-box-content-new .tools-box-content-stage-bottom.image_list > ul > li:hover{border:2px solid #96dffa;}
.book_page .tools-box-content.tools-box-content-new .tools-box-content-stage-bottom ul li.gally .delete_attributes{display: inline-block;}
.book_page .tools-box-content.tools-box-content-new .tools-box-content-stage-bottom ul li.gally .delete_attributes .fa-pencil-square-o{position:absolute; background: #121212 none repeat scroll 0 0;border-radius: 50%;bottom: auto;color: #89e52e;font-size: 18px;height: 26px;left: 5px;opacity: 1;padding: 4px;right: auto;top: 5px;width: 26px;}
.book_page .tools-box-content.tools-box-content-new .tools-box-content-stage-bottom ul li.gally .delete_attributes .fa-trash{position:absolute; background: #121212 none repeat scroll 0 0;border-radius: 50%;bottom: auto;color: #9e1226;font-size: 18px;height: 26px;left: auto;opacity: 1;padding: 4px;right: 5px;top: 5px;width: 26px;}
.book_page .tools-box-content.tools-box-content-new .tools-box-content-stage.background_attribute .library_list{background: #fff;}
.book_page .tools-box-content.tools-box-content-new .tools-box-content-stage.background_attribute .img-preview{height: 387px; width: 80%; margin:10px auto; background-size: 100% auto !important;}
.book_page .tool_box_container .page-menu-panel .fa{background-image: -moz-linear-gradient(top, #3c4146, #24292e);
background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0, #3c4146),color-stop(1, #24292e));
filter: progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#3c4146', EndColorStr='#24292e');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#3c4146', EndColorStr='#24292e')";
border: 1px solid #3c4146;
-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}
.book_page .tool_box_container .page-menu-panel .qst-right{position: absolute;float: none;margin:0;left: 120%; top: 13px;}
.book_page .tool_box_container .undo1{background: none; padding: 0;}
.book_page .tool_box_container .list-inline.align-icon{text-align: center;}
.book_page .tool_box_container .list-inline.align-icon > li{background: none; padding: 0;}
.book_page .tool_box_container .list-inline.align-icon > li .lesr1{background: none;padding: 0;}
.book_page .tool_box_container .list-inline.align-icon > li .lesr1.lesssr2{padding: 0 10px;}
.book_page .tool_box_container .half_hide_toolboars{opacity: 0.3; pointer-events:none;}
.book_page .content .tools-box .tools-box-content.tools-box-content-new .tools-box-content-stage-bottom.template_video_attributes > ul > li{width: 110px; height: 90px;}
.book_page .content .tools-box .tools-box-content.tools-box-content-new .tools-box-content-stage-bottom.template_video_attributes > ul > li .fa-youtube-play{width: 55px; height: 55px; font-size: 55px;}
.book_page .content .tools-box .tools-box-content.tools-box-content-new .tools-box-content-stage-bottom.template_video_attributes > ul > li:hover{border:2px solid #96dffa;}
.book_page .tools-box-content.tools-box-content-new .tools-box-content-stage-bottom ul li.gally .delete_attributes.edit_attributes_text{margin:0; position: absolute; bottom:5px; text-transform: uppercase; padding: 0 5px; font-size: 12px; border-radius: 5px;}
.book_page .tools-box-content-stage .map-part{padding: 15px;}
.book_page .tools-box-content-stage .map-part p{color: inherit;}